/*aqui agregaremos las clases de estilo */
.titulo{
    text-align: center;
    color: blueviolet;

}
div.post{
    background: white;
    margin-top: 5px;
}
div.post img{
    width: 100%;
}
div.post .post-header
div:first-child{
    display: inline-block;
    width: 75%;
}
div.post .post-header
div:last-child{
    display: inline-block;
    width: 25%;
    /*padding: 1px;*/
    text-align: right;
}
div.post p{
    text-align: left;
}
div.post h2, div .post p{
    padding: 10px;
    margin: 0;
}

div.icons i:last-child{
    float: right;
}
div.contenido{
    width: 660px;
    margin: 0 auto;
}
.textos> p{
    text-align: justify;
}
/*
/*